h1{
    text-align: center;
    font-size: 60px;
    font-family: 'Kreon', serif;
}


img {
    border-radius: 30px;
}


#babypic {
    display: block;
    width: 500px;
}

#container {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    max-height: 500px;
    border-radius: 30px;
}

.q{
    margin-top: 100px;
    margin-bottom: 125px;

    /*display: flex;
    flex-direction: row;
    justify-content: space-between; */
}

#two {
    width: 450px;
    height: 338px;
    margin-left: 5px;
}

#two:hover {
    box-shadow: 10px 0px 25px #919191;   
}

#three {
    margin-right: 5px;
    width: 400px;
    height: 400px;
}

#three:hover {
    box-shadow: 10px 0px 25px #919191;   
}

#para { 
    width: 100%;
    height: 100%;
    margin: 5px;
    padding: 20px;
    background-color: #96E0B4;
}


#para2 {
    margin: 5px;
    width: 100%;
    padding: 20px;
    background-color: #96E0B4;
    height: 100%;
}


body {
    background-color: #6EFAA5;
    height: 1366px;
    width: 768px;
    margin: auto;
}


p{
    font-family: 'Kreon', serif;
    font-size: 20px;
}


h2{
    text-align: center;
    font-family: 'Kreon', serif;
}

#books {
	margin: auto;
    margin-bottom: 25px;
	width: 500px;
	height: 700px;
    overflow: hidden;
	position: relative;
}


#books img {
	position: absolute;
	left: 0;
	top: 0;
}

.fadeinimg{
    animation: fadein 2s;
    width: 500px;
    height: 700px;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

figure{
    text-align: center;
}

figcaption{
    font-family: "Kreon", serif;
}

footer a {
    padding: 20px;
    margin: 50px;
    color: #6EFAA5;
    border-radius: 25px;
    background-color: #356147;
}

footer {
    padding-top: 10px;
    text-align: center;
    font-family: "Calibri", "Helvetica", "Times";
    color: #6EFAA5;
}




