body {
    max-width: 1368px;
    max-height: 768px;
    margin: auto;
}

h1 {
    background-color: black;
    height: 100px;
    color: white;
    padding-top: 50px;
    text-align: center;
}

article h2 {
    text-align: left;
    color: black;
}

article p {
    font-size: 24px;
    width: 500px;
}