footer a {
    padding: 25px;
    color: blue;
}

header h1 {
    text-align: center;
}

header h2 {
    text-align: center;
}

footer {
    text-align: center;
    padding-top: 25px;
}

#banner {
    width: 750px;
    height: 200px;
    background-color: lavender;
    margin: 50px auto;
    border-radius: 25px;
}


#banner1 {
    width: 750px;
    height: 200px;
    background-color: lightskyblue;
    margin: 50px auto;
    border-radius: 25px;
}

#banner2 {
    width: 750px;
    height: 200px;
    background-color: red;
    margin: 50px auto;
    border-radius: 25px;
}

#banner3 {
    width: 750px;
    height: 200px;
    background-color: peachpuff;
    margin: 50px auto;
    border-radius: 25px;
}

#pagetitle {
    padding: 30px;
    font-size: 40px;
    background-color: white;
    width: 500px;
    margin: 20px auto;
    border-radius: 25px;
    font-family: "Lora", "Arial";
}

#modals {
    text-align: center;
    margin-left: 100px;
}

#memorycloud {
    position: relative;
    right: 125px;
}

#journal4 {
    position: relative;
    right: 125px;
}

article h2 {
    text-align: center;
    margin-right: 400px;
}

article h3 {
    text-align: center;
    margin-right: 400px;
    text-decoration: underline;
}

article p {
    margin: 25px auto;
    width: 750px;
    font-family: "Arial";
    font-size: 20px;
    text-indent: 50px;
    
}

#babypic {
    height: 300px;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#plushie {
    margin: auto;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: whitesmoke;
}

a {
    color: blue;
}
