h1{
    text-align: center;
    font-size: 60px;
}

img {
    border-radius: 30px;
}

#babypic {
   overflow: hidden;
   width: 750px;
   margin-left: 900px;
   margin-right: 900px;
}

#two {
    position: relative;
    margin-left: 200px;
    padding-right: 1000px;
}

body {
    background-color: #C49D9D;
}


p{
    padding-left: 100px;
    width: 750px;
    font-family: "Arial";
    font-size: 20px;
    text-indent: 50px;
}