body {
    font-family: Calibri, sans-serif;
    color: black;
    background-color: #9950F3;
    line-height: 1.5em;
    max-width: 1366px;
    max-height: 768px;
    margin: auto;
}

h1{
    color: #FFFEBA;
    font-family: Broadway, Cursive, Helvetica, sans-serif;
    font-size: 72px;
    text-align: center;
}


#content {
    background-color: #81749170;
    max-width: 1100px;
    margin: auto;
}

#content img {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
}

#game img{
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
}

#alt1 {
    color: white;
    font-size: 20px;
}

div {
    padding: 5px;
}

#gamecontrol h3 {
    text-align: center;
}

#gamecontrol {
    text-align: center;
}


p{
    font-family: Calibri, sans-serif;
    color: black;
}

#gamecontrol #startgame {
    background-color: #FFFEBA;
    border: none;
    margin-top: 25px;
}

button {
    background-color: #FFFEBA;
    border: none;
    padding: 5px;
}

#description {
    margin-left: 200px;
}

#actions {
    text-align: center;
}


.hidden {
    visibility: hidden;
    opacity: 0;
}

.showing {
    visibility: visible;
    opacity: 1;
}

#overlay {
    position: absolute;
    background-color: yellow;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 700px;
    transition-property: opacity, visibility;
    transition-duration: 1s;
    transition-timing-function: ease;
}

#winner {
    color: black;
    text-decoration: underline;
}

#winningmessage{
    text-align: center;
}

#playerroll{
    color: white;
    width: 50%;
    margin: auto;
}

#playerroll2 {
    color: white;
    width: 50%;
    margin: auto;
}

#rollagain{
    margin-right: 50px;
}

#gamecontent {
    margin: auto;
    max-width: 1100px;
}

#pass {
    margin-left: 50px;
}

#currentscore{
    font-size: 20px;
}

footer a {
    margin: 50px;
    color: white;
}

footer {
    text-align: center;
    font-family: Calibri, Helvetica, Times, sans-serif;
    color: white;
    font-size: 24px;
    padding-top: 25px;
}

.corner {
    font-size: 36px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    color: black;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    outline: none;
}


.overlay article {
    box-sizing: border-box;
    background-color: #DBD940;
    padding: 50px;
    width: 30vw;
    height: 80vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}